.PostCard-body {
  margin-top: 6rem;
  width: 500px;
  text-align: center;
  opacity: 0.8;
}

.PostCard-header {
  font-size: 2rem;
}

.PostCard-link {
  color: rgb(180, 179, 179);
}

.PostCard-btn {
  margin: 5px;
}

@media only screen and (max-width: 1000px) {
  .PostCard-body {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 350px;
  }
}